@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #C4DAD2;
  --secondary: #16423c;
  --black: #000;
}

body {
  color: var(--black);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
